linkedin-scraper.json
{
  "name": "linkedin-scraper",
  "nodes": [
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        112
      ],
      "id": "4e44de20-a5e7-4ffe-b3d7-7e6c64940d8b",
      "name": "When chat message received",
      "webhookId": "844960f4-d108-43c2-ab02-7f64d747abc0"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are an expert in Boolean search techniques for Google. When the user sends a job description, generate a search string specifically for finding LinkedIn job posts that match that description. Your response must always follow this exact format: site:linkedin.com/jobs [Boolean search string] Create the Boolean search string using precise operators (AND, OR, \"\", *, -) to match the job requirements. Focus only on generating the search string - provide no additional commentary or explanations unless specifically requested. "
            },
            {
              "content": "={{ $json.chatInput }}"
            }
          ]
        },
        "simplify": false,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        224,
        112
      ],
      "id": "448be203-2ffb-4fcc-85b0-0f168e2663b9",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "gUGz6rfpxPYPdgtF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1VVWEKsN0fpR2LmuW9imPk8Ex0wW2Pau3Ivq7dzZaoB0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "title": "={{ $json.date }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        112
      ],
      "id": "ddc18f87-6e29-4839-8f05-76ebb1a0e8da",
      "name": "Create sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jQvhuheBCBjKsOI3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    \"linkedin_url\": \"\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        112
      ],
      "id": "33859666-ffae-442d-8697-f43e9c0b8f7f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1VVWEKsN0fpR2LmuW9imPk8Ex0wW2Pau3Ivq7dzZaoB0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create sheet').item.json.title }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "linkedin_url"
          ],
          "schema": [
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        112
      ],
      "id": "7ce89126-82a3-4b23-aeb2-0d6841e8b564",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jQvhuheBCBjKsOI3",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    date: new Date()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        112
      ],
      "id": "58a22c36-af25-4f1b-b57a-a903a5f9a00f",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "message": "Completed",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        2144,
        112
      ],
      "id": "b9ead804-a4ba-4897-939c-3f77fcd8922e",
      "name": "Respond to Chat"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyCg3Xuv_veRZ2KsCuktBGuLIZVYLP-ygMQ"
            },
            {
              "name": "cx",
              "value": "87cc13efa463946e5"
            },
            {
              "name": "q",
              "value": "={{ $('Message a model').item.json.output[0].content[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1472,
        112
      ],
      "id": "eae71405-eb17-42cb-ba35-e6b2b62cfa4e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Get all items from the first input element\nconst items = $input.first().json.items;\n\n// Map through and return only the \"link\" values\nconst links = items.map(item => item.link);\n\n// Return as individual output items for n8n\nreturn links.map(link => ({ json: { link } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        112
      ],
      "id": "13fe3541-e353-4306-94be-245165b77349",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1VVWEKsN0fpR2LmuW9imPk8Ex0wW2Pau3Ivq7dzZaoB0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Code in JavaScript1').item.json.date }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "linkedin_url": "={{ $json.link }}"
          },
          "matchingColumns": [
            "linkedin_url"
          ],
          "schema": [
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1920,
        112
      ],
      "id": "8d7d3825-e8d9-4437-9a8f-1d2801fb50f9",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jQvhuheBCBjKsOI3",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Create sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d1d8ab96-1441-4628-bd8f-d2a0b1fe067f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e71e76bea3fd536b009582b4a7bb4597684cf530b13db554ba76b7646ee5038b"
  },
  "id": "SAI6MSpCZldjSoRl",
  "tags": []
}