simple-agent.json
{
  "name": "simple-chatbot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        392,
        -48
      ],
      "id": "3eb8e7ab-5749-4849-b93a-7cf5ffe83a7f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        208,
        176
      ],
      "id": "fd6d0b66-ae07-493b-8fae-fd1c8f60f183",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "gUGz6rfpxPYPdgtF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        -48
      ],
      "id": "6c7f8257-918d-4ba5-8406-aec5ac352087",
      "name": "Webhook",
      "webhookId": "d50491b4-de3c-4037-973e-c54914f85487"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        928,
        -48
      ],
      "id": "f68698e3-96bc-446c-bba2-5adaacc3d86a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.webhookUrl }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        336,
        176
      ],
      "id": "24383678-f920-43cc-8b68-5a344982f95a",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        464,
        176
      ],
      "id": "ed8ed059-36b0-4a18-b075-33af843f1ace",
      "name": "Calculator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        720,
        176
      ],
      "id": "47cf47c6-63ca-4d0c-8bf3-a5891a0db5a4",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        592,
        176
      ],
      "id": "8a42f24d-2edf-4f72-a0f3-54572cf3ba01",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "sQz6tiEKRHF3SEnR",
          "name": "SerpAPI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3c607a87-ceda-4ab8-9873-d695961d4cd5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e71e76bea3fd536b009582b4a7bb4597684cf530b13db554ba76b7646ee5038b"
  },
  "id": "Agfi7g2bMIGYKda7",
  "tags": []
}